{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block heading %}
    Home page
{% endblock %}

{% block body %}

    <h1>{{ headline }}</h1>
    <br>
    <ul>
        {% for i in esaList %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('welcome') }}" method="post">
        <input type="text" name="esaName" placeholder="Enter the name of the ESA you are visiting"><br><br>
        <button>Submit</button><br><br>
    </form>
    <h2> Convert latest currency exchange rate from EUR.</h2><br>

    <form id="form">
        <input id="currency" autocomplete="off" autofocus placeholder="Currency" type="text">
        <input type="submit" value="Get exchange rate" ><br><br>
    </form>
    <br><br>
    <div id="result"></div>
    <br><br>

{% endblock %}
